.bg-1 {
  background: #a68194;
  background: radial-gradient(
    circle,
    rgba(166, 129, 148, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.bg-2{
  background: #9ee6d2;
background: radial-gradient(circle, rgba(158, 230, 210, 1) 44%, rgba(148, 187, 233, 1) 98%);
}
.bg-3{
    background: #e54df0;
background: radial-gradient(circle, rgba(229, 77, 240, 1) 44%, rgba(148, 187, 233, 1) 71%);
}
.tw{
  color: #fff;
}
